.body {
	height: 100%;
    width: 100%;
    padding: 0 2.7 2.7 2.7;
}
.title1 {
	text-align: center;
}
.box{
	margin: 40px;
	border: 4px solid;
	border-color:#006837;
    background-color: #56836F;
}
header{
	padding: 40px 100px 0 0; 
	font-size: 48px;
    color: white;
}
.linav {
	display: inline-block;
	color: white;
	font-size: 48px;
	text-transform: uppercase;
}
.logo {
	float: right;
	margin: 49px 56px 0 0;
}
