.box{
    margin: 40px;
	border: 4px solid;
	border-color:#006837;
	background-color: #56836F;
}
header{
	padding: 40px 100px 0 0; 
	font-size: 48px;
	color: white;
}
.navtable{
	float: right;
	padding-top:90px;
	padding-bottom: 100px;
	padding-left: 100px
    }
    .linav{
        display: inline-block;
        margin-right: 30px;
    }
    .menu{
        color:white;
    }
    .logo{
            width:  170px;
            float: right;
            padding-top: 30px;
            padding-left:60px;
    }
    .clear{
        clear: right;
    }